body{
font-family:"Lucida Grande", "Microsoft YaHei", "STHeiti", "SimSun","Arial","Verdana","sans-serif";
}
section{
font-size: 18px;
}
.starter-template {
font-size: 18px;
  text-align: center;
  
}



#splash{
background: #3592dd;
color:white;
 padding: 100px 0 0 0;
}

#splash-2{
background: #3592dd;
color:white;
 padding: 100px 0 200px 0;
}

#splash img{
margin-top: 100px;
}
#zhailu{
background: #282828;
color:white;
 padding: 80px 0 0 0;
}
#zhailu div.container{
width:100%;
padding:0px;
}
#pizhu{
background: #3592dd; /* #F6A74E;*/
color:white;
 padding: 80px 0 0 0;
}
#pizhu div.container{
width:100%;
padding:0px;
}

#siweidaotu{
background: #3592dd; /* #F6A74E;*/
color:white;
 padding: 80px 0 ;
}

#huizong{
background: #1d1d1d; /* #F6A74E;*/
color:white;
 padding: 80px 0 0 0;
}

#huizong div.container{
width:100%;
padding:0px;
}

#yuntongbu{
background: #3592dd;
color:white;
 padding: 80px 0;
}
#xiazai{
background: #1d1d1d; /* #F6A74E;*/
color:black;
 padding: 60px 0;
}

.my-padding-left{
padding-left:30px;
}
.my-padding-right{
padding-right:30px;
}

.price {
  font-size: 40px;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}
.panel {
-webkit-transition-property : scale; 
-webkit-transition-duration : 0.2s; 
-webkit-transition-timing-function : ease-in-out; 
-moz-transition : all 0.2s ease-in-out;  
}

.panel:hover {
box-shadow: 0 0 10px rgba(0,0,0,.5);
-moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
}

.biaozhu-yellow{
background:#D6B106;
}

.biaozhu-green{
background:#04F200;
}
.biaozhu-red{
background:#E7442F;/*EC0E06;*/
}
.biaozhu-blue{
background:#1995D9;
}
.biaozhu-purple{
background:#D6069D;
}
.biaozhu-orange{
background:#E34506;
}