body{
font-family:"Lucida Grande", "Microsoft YaHei", "STHeiti", "SimSun","Arial","Verdana","sans-serif";
}
section{
font-size: 18px;
}
.starter-template {
font-size: 18px;
  text-align: center;
  
}



#splash{
background: #3592dd;
color:white;
 padding: 100px 0 0 0;
}
#splash img{
margin-top: 100px;
}
#zhailu{
background: #282828;
color:white;
 padding: 80px 0 0 0;
}
#zhailu div.container{
width:100%;
padding:0px;
}
#pizhu{
background: #3592dd; /* #F6A74E;*/
color:white;
 padding: 80px 0 0 0;
}
#pizhu div.container{
width:100%;
padding:0px;
}

#huizong{
background: #1d1d1d; /* #F6A74E;*/
color:white;
 padding: 80px 0 0 0;
}

#huizong div.container{
width:100%;
padding:0px;
}

#xiazai{
background: #3592dd; /* #F6A74E;*/
color:white;
 padding: 60px 0;
}

.my-padding-left{
padding-left:30px;
}
.my-padding-right{
padding-right:30px;
}

